<div class = 'flickr_pagination'>
<%= will_paginate @articles %>
<%= render 'articles'%>
<br>
<br>
<button><h1> <%= link_to "CREATE NEW BLOG", new_article_path , data: { confirm: 'Are you sure?' }%> </h1></button>
<%= will_paginate @articles %>
</div>