<div class = 'flickr_pagination'>
<h1>WELCOME TO THE ALPHA BLOG</h1>
<%= render 'articles'%>
<br>
<br>
<% if logged_in? %>
<h1> <%= link_to "CREATE NEW BLOG", new_article_path , data: { confirm: 'Are you sure?' }%> </h1>
<%else%>
<h4> PLease <%= link_to "login" , login_path%> to create a article </h4>
<% end %>
<%= will_paginate @articles %>
</div>